
body {
    width: 100%;
    height: 100%;
    background-color: rgb(170, 184, 178);
}
#menu {
    width: 20%;
    height: 1000px;
    background-color: white;
    float: left;
}
#menu_right {
    width: 100%;
    border-bottom: solid 3px teal;
    box-sizing: border-box;
    padding: 14px 26px;
    height: 50px;
}

#menu_left {
    width: 100%;
    height: auto;
    display: table;
    /* border: solid 2px yellowgreen; */
}
#menu_top {
    font-size: 20px;
    color: rgb(116, 98, 98);
}
li {
    list-style-type: none;
    padding-top: 30px;
    margin-left: -6%;
    margin-top: 4%;
    height: auto;
    width: 90%;
    border: solid 0px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inter {
    border-bottom: solid 1px rgb(136, 117, 117);
    padding-bottom: 50px;
    width: 100%;

    height: auto;
    display: table;
    /* border: solid 2px; */
    box-sizing: border-box;
}
span {
    padding-left: 12px;
}
.ip {
    width: 100%;
    height: auto;
    display: table;
    /* border: solid 2px; */
    box-sizing: border-box;
    /* padding-top: 15px; */
}
.ip4 {
    width: 70%;
    height: auto;
    display: table;
    float: left;
    padding-top: 4px;
} 
.ip5 {
    width: 14%;
    height: 38px;
    display: table;
    float: right;
    /* border: solid 2px; */
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    --border-radius: 25px;
    border-radius: 25px; 
    background-color: rgb(148, 106, 165);
    margin-top: -5%;
}
.ipho {
    font-size: 13px;
    color: white;
    /* margin-top: 15px; */
    padding-left: 12px;
}

#content {
    width: 78%;
    height: 1000px;
    /* border: solid 3px red; */
    float: right;
}
#content_top {
    width: 100%;
    height: auto;
    border: solid 0px blue;
    box-sizing: border-box;
    display: table;
}
#imj {
    width: 60px;
    height: 60px;
    border-radius: 36px;

}
.top_left {
    width: 30%;
    height: auto;
    display: table;
    border: solid 0px;
    float: left;
    box-sizing: border-box;
}
.left_right {
    width: 20%;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.left_left {
    width: 70%;
    height: auto;
    display: table;
    float: right;
    font-size: 13px;
}
.top_right {
    width: 70%;
    height: 83px;
    display: table;
    border: solid 0px rgb(5, 243, 5);
    float: right;
    box-sizing: border-box;
}
#inputs {
    width: 250px;
    height: 36px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 18px;
}
#tables {
    width: 100%;
    height: 492px;
}
.yill {
    box-sizing: border-box;
    margin-right: 0px;
    margin-left: -20px;
}
.right_left {
    width: 50%;
    height: auto;
}
#content_second {
    width: 100%;
    height: 500px;
    border: solid 0px hotpink;
    box-sizing: border-box;
}
#second_left {
    width: 65%;
    height: 496px;
    float: left;
    box-sizing: border-box;
    display: table;
    border: solid 0px rgb(53, 189, 25);
}
#types  {
    width: 100%;
    height: 492px;
    box-sizing: border-box;
}
#second_right {
    width: 35%;
    height: 496px;
    float: right;
    box-sizing: border-box;
    border: solid 0px rgb(255, 166, 0);
}


#content_end {
    width: 100%;
    height: auto;
    display: table;
    box-sizing: border-box;
    border: solid 0px rgb(7, 218, 255);
    margin-top: 15px;
}
#end_left {
    width: 70%;
    height: 394px;
    float: left;
    box-sizing: border-box;
    border: solid 0px rgb(183, 15, 189);
    background-color: white;
}
#fo {
    width: 100%;
    height: 100%;
}
table {
    width: 100%;
    height: 40px;
}
tr, td {
    /* border: solid 2px; */
    height: 74px;
}
#end_right {
    width: 29%;
    height: 394px;
    box-sizing: border-box;
    border: solid 0px rgb(2, 151, 106);
    float: right;
}
.kik {
    width: 100px;
    height: 30px;
    background-color: burlywood;
    border-radius: 25px;
}
.modun {
    width: 100%;
    height: 113px;
    border-radius: 25px;
    color: white;
}
#modun1 {
    background-color: rgb(252, 76, 208);
}
#modun2 {
    background-color: greenyellow;
    margin-top: 22px;
}
#modun3 {
    background-color: rgb(30, 140, 230);
    margin-top: 22px;
}
.modun1_left {
    width: 60%;
    height: auto;
    float: left;
    display: table;
    margin-left: 15px;
}
.modun1_right {
    width: 30%;
    height: 113px;
    float: right;
}
.num {
    font-size: 40px;
}
h4 {
    color: rgb(158, 105, 179);
}